<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>中級編</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <style>
            body {
                background-color: aqua;
            }
        </style>
        <script>
            var i = 0;
            function count() {
                i++;
            }
            function count2() {
                document.getElementById("countDisplay").innerHTML = "合計点は" + i + "点です。";
            }
        </script>
    </head>
    <body>
        <div class="container">
            <h1>中級編</h1>
                {% for book in books2 %}
                    <h2 class="question2">{{ book.daimei }}</h2>
                    <div class="question">{{ book.mondai }}</div>             
                    <div id="choices">
                        <button onclick="checkAnswer('{{ book.ID }}_answer1')" class="choice">{{ book.sentakusi1 }}</button>
                        <button onclick="checkAnswer('{{ book.ID }}_answer2')" class="choice">{{ book.sentakusi2 }}</button>
                        <button onclick="checkAnswer('{{ book.ID }}_answer3')" class="choice">{{ book.sentakusi3 }}</button>
                        <button onclick="checkAnswer('{{ book.ID }}_answer4')" class="choice">{{ book.sentakusi4 }}</button>
                    </div>
                    <p class="blank"></p>
                {% endfor %}
            <script>
                function checkAnswer(answer) {
                    // var x = 0;                      /* xの値を宣言 */  
                    // var i = 0;                      /* iの値を宣言 */
                    var answer_arr = ['1_answer1', '2_answer3', '3_answer2', '4_answer1', '5_answer2', '6_answer3', '7_answer1', '8_answer1', '9_answer4', '10_answer4'];
                    console.log(answer)
                    if (answer_arr.indexOf(answer) != -1) {
                    count();
                    alert('正解です！');
                  } else {
                    alert('不正解です……');
                  }
                }
            </script>
            <a href="{{ url_for('index') }}">
                <button class="mo" style="background-color:#66FF33;color:#FF3333;border-radius:5px">戻る</button>
            </a>
            <div onclick="count2()" class="go" style="width: 300px; height: 100px; background-color: lightgray; text-align: center; line-height: 100px; cursor: pointer;">
                合計点を表示
            </div>
            <div id="countDisplay"></div>
            <img class="nasubi" src="static/image/eggplant.png" alt="写真">
        </div>
        <script src="static/js/script.js"></script>
    </body>
</html>